html, body {
    margin: 0px;
    background-color: #fffeef;
    color: #333333;
    /*font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

input[type='text'], textarea {
    display: block;
}

#logoDiv {
    display: inline-block;
    background: url('../images/main_logo_dark.png') no-repeat;
    width: 343px;
    height: 90px;
    overflow: hidden;
}

#headerDiv {
    padding: .5em 0;
    vertical-align: top;
    background-color: #222222;
    border-bottom: 1px solid #444444;
    position: fixed;
    top:0px;
    width: 100%;
    margin-bottom: 100px;
    z-index: 1000;
}

.menu-div {
    color: #cb9a34;
    text-align: right;
    position: relative;
    bottom: -2em;
}

.menu-div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-div > ul > li {
    display: inline-block;
    margin: 0px 1em;
    font-weight: 700;
    font-size: 1.4em;
    cursor: pointer;
}

.menu-div > ul > li:last-child {
    margin: 0px 0px 0px 1em;
}

.menu-div > ul > li:hover {
    color: #f6c561;
    border-radius: 3px;
}

.menu-div > ul > li > a {
    /*padding: 0px .25em;*/
    min-width: 100px;
    display: inline-block;
}

#contentDiv {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#footerDiv {
    font-size: 1.1em;
    font-weight: 600;
    color: #ffffff;
    background: #cb9a34;
    width: 100%;
    margin: 1em 0 0 0;
    padding: .5em 0;
    border-top: 1px solid #999999;
    height: 100px;
    position: static;
    bottom: 0px;
}

#footerDiv > div {
    margin: 0 15%;
    text-align: center;
}

#footerDiv > div > * {
    display: inline-block;
    margin: 0px 2em;
}

#searchDiv {
    border: 1px solid #444444;
    background-color: #ffffff;
    border-radius: 2px;
    /*display: inline-block;*/
    vertical-align: top;
    margin-top: 2em;
    border-radius: 3px;
    padding-right: 2px;
    float: right;
    
}
    #searchDiv > * {
        clear: both;
    }

    #searchDiv > input[type='text'] {
        border: 0px solid #000000;
        padding:  0 .5em;
        font-size: 12pt;
        font-weight: bold;
        padding: .25em;
    }

    #searchDiv > label {
        font-family: 'ElegantIcons';
        vertical-align: middle;
        margin-right: .25em;
    }

    .elegant {
        font-family: 'ElegantIcons';
    }

a {
    text-decoration: none;
    color: inherit;
}

.section {
    width: 100%;
    border: 1px solid #000000;
}

.section:not(:last-child) {
    margin-bottom: 1em;
}

.section h2 {
    margin: 0px 0px .5em 0px;
}

        .section > div > .section-icon {
            display: inline-block;
            width: 50%;
        }

        .section > div > .section-message {
            display: inline-block;
            vertical-align: top;
            margin: .25em 1em;
            width: 45%;
        }

#lobBannerDiv, #optionBannerDiv {
    white-space: no-wrap;
    display: flex;
    justify-content: space-between;
}

.lob-banner {
    border-radius: 8px;
    border: 1px solid #aaaaaa;
    color: #333333;
    display: inline-block;
    vertical-align: top;

    min-width: 275px;
    width: 30%;
    min-height: 400px;
}

.option-banner {
    border-radius: 8px;
    border: 1px solid #aaaaaa;
    color: #333333;
    display: inline-block;
    vertical-align: top;

    min-width: 275px;
    width: 30%;
    min-height: 200px;
    cursor: pointer;
}

.option-banner.selected {
    border-radius: 8px;
    border: 1px solid #aaaaaa;
    color: #ffffff;
    background: #555555;
}

.option-banner:hover {
    border-radius: 3px;
    border: 1px solid #000000;
    color: #ffffff;
    background: #333333;
}

.option-banner:hover .note {
    color: #eebbbb;
}

.option-banner:hover .pricetag {
    color: #ee7777;
}

.pricetag {
    margin-left: 1em;
    font-size: .8em;
    color: #772222;
}

.note {
    font-size: .8em;
    color: #663333;
}

.banner-content {
    margin: 2px 1em;
}

#productDevelopmentBanner {
    /*background: url('images/actuator_diagonal_trans.png') no-repeat;
    background-size: cover;*/
}

.banner-header {
    text-align: center;
}

.banner-icon {
    font-size: 2em;
    margin: 0px .25em .25em .25em;
    color: #cb9a34;
}

#bannerDiv {
    color: #cb9a34;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: 300px;
    background: #333333;
    margin: 0px;
}

    #bannerDiv > div {
        border: 1px #444444 solid;
        padding: 1em;
        border-radius: 6px;
        margin: 0px 5%;
        height: 80%;
    }

    #bannerDiv > #bannerContent {
        /*background: #ffffff url('../images/team_collab_03.jpg') no-repeat center 10%;*/
        background: #ffffff url('../images/black-and-white-city-man-people.jpg') no-repeat center 50%;
        background-size: cover;
    }

div.layout-div {
        display: block;
}

div.layout-div > div {
        margin: 0 15%;
}

@media screen and (min-width: 1400px) {
    #bannerDiv {
        height: 400px;
    }
}

@media screen and (max-width: 480px){
    #bannerDiv > #bannerContent {
        background: #ffffff url('../images/team_collab_03.jpg') no-repeat right top;
        background-size: cover;
    }
}

@media screen and (max-width: 480px), screen and (max-width: 1200px) {
    #lobBannerDiv {
        white-space: normal;
        display: block;
    }

    .lob-banner, .option-banner {
        padding: .5em 0px;
        
        display: block;
        
        width: 100%;
        min-height: 400px;
    }
    
    .lob-banner:not(:last-child), .option-banner:not(:last-child) {
        margin-bottom: 1em;
    }

    #productDevelopmentBanner {
        /*background: url('images/actuator_diagonal_trans.png') no-repeat;
        background-size: cover;*/
    }

    .banner-header {
        text-align: center;
    }

    .banner-icon {
        font-size: 2em;
        margin: 0px .25em .25em .25em;
        color: #cb9a34;
    }

    #bannerDiv {
        color: #cb9a34;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        height: 250px;
        background: #333333;
        margin: 0px;
    }

        #bannerDiv > div {
            border: 1px #444444 solid;
            padding: 1em;
            border-radius: 6px;
            margin: 0px 25px;
            height: 80%;
        }

    div:not(#headerDiv).layout-div > div {
        margin: 0 10%;
    }
    
    div#header.layout-div > div {
        margin: 0 0%;
    }

    #searchDiv {
        display: none;
    }
}

.smaller-text {
    font-size: .75em;
}